h1 {
	text-align: center;
	padding-top: 25px;
}

#hiddenNumber {
	font-size: 50px;
	padding: 10px;
	border: 3px solid black;

}

#numberBox {
	display: flex;
	margin-top: 30px;
	align-content: center;
	justify-content: center;
}

#form-inline {
	display: flex;
	align-content: center;
	justify-content: center;
}

.form-inline input {
	
	margin-top: 30px;
}
