h1 {
	text-align: center;
	padding-top: 25px;
}

#hiddenNumber {
	font-size: 50px;
	padding: 10px;
	text-align: center;

}

#numberContainer {
	display: flex;
	justify-content: center;
}

#numberBox {
	border: 3px solid black;
	width: 25%;
	text-align: center;
	margin-top: 20px;
}

#beginContainer {
	display: flex;
	justify-content: center;
}

#beginBtn {
	margin-top: 30px;
}

#form-inline {
	display: flex;
	align-content: center;
	justify-content: center;
}

.form-inline input {
	
	margin-top: 30px;
}
